.box-body.table-responsive.no-padding
  #filterrific_results
    %table.table.table-hover
      %tr
        %th Key
        %th Title
        %th Comedian
        %th Category
        %th Publisher
        %th Storage
        %th
          = link_to "CSV", videos_path(format: :csv, filterrific: @filterrific.to_hash), class: "btn btn-danger"
        %th
          = link_to "Excel", videos_path(format: :xlsx, filterrific: @filterrific.to_hash), class: "btn btn-danger"
        %th
      - @videos.each do |video|
        %tr
          %td #{video.video_key}
          %td #{video.title}
          %td #{video.comedian.name}
          %td
            %span.label.label-success #{video.category.category_name}
          %td #{ video.publisher.publisher_name }
          %td
            = link_to "Download", "#{video.video_storage_path}", target: "_blank", class:"label label-success "
          %td
            = link_to "Show", video_path(video), class:"label label-success "
          %td
            = link_to "Edit", edit_video_path(video), class:"label label-success "

    = page_entries_info @videos
    = will_paginate @videos

