- content_for :body_class, "login-box"
- content_for :before_scripts do
  %link{:href => "../../plugins/iCheck/square/blue.css", :rel => "stylesheet"}
.login-box
  .login-logo
    %a{:href => "/"} LaffHub Content Catalogue
  / /.login-logo
  .login-box-body
    = devise_error_messages!
    = flash[:notice]
    %p.login-box-msg Sign in to continue
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group.has-feedback
        = f.email_field :email, autofocus: true, class:"form-control", placeholder: "Email"
        %span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        = f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password"
        %span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-xs-8
          .checkbox.icheck
          - if devise_mapping.rememberable?
            = f.check_box :remember_me
            = f.label :remember_me, "Remember Me"
        .col-xs-4
          = f.submit "Sign In", class: "button btn btn-primary btn-block"

    .login-box-footer.text-center
      = render "devise/shared/links"

  / /.login-box-body
/ /.login-box
- content_for :after_scripts do
  = javascript_include_tag "/plugins/jQuery/jQuery-2.1.4.min.js"
  = javascript_include_tag "/plugins/bootstrap/js/bootstrap.min.js"
  = javascript_include_tag "/plugins/iCheck/icheck.min.js"
  = javascript_include_tag "/assets/pages/login.js"





