- content_for :before_scripts do
  %link{:href => "/plugins/daterangepicker/daterangepicker-bs3.css", :rel => "stylesheet"}
  %link{:href => "/plugins/iCheck/all.css", :rel => "stylesheet"}
  %link{:href => "/plugins/colorpicker/bootstrap-colorpicker.min.css", :rel => "stylesheet"}
  %link{:href => "/plugins/timepicker/bootstrap-timepicker.min.css", :rel => "stylesheet"}
  %link{:href => "/plugins/select2/select2.min.css", :rel => "stylesheet"}

.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      New User
      %small Add New User
    %ol.breadcrumb
      %li
        %a{:href => "#"}
          %i.fa.fa-dashboard
          Home
      %li
        %a{:href => "#"} User
      %li.active New User
  / Main content
  %section.content
    .row
      / left column
      .col-md-10
        / general form elements
        .box.box-primary{"data-aos" => "fade-up"}
          .box-header.with-border
            %h3.box-title New User Details
          / /.box-header
          / form start
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .box-body
              = flash[:notice]
              .form-group
                = f.label :email, 'Email'
                = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"
              .form-group
                = f.label :password, 'Password'
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} characters minimum)
                %br/
                = f.password_field :password,  class: "form-control", placeholder: "Password", autocomplete: "off"
              .form-group
                = f.label :password_confirmation, 'Password Confirmation'
                = f.password_field :password_confirmation,  class: "form-control", placeholder: "Password Confirmation", autocomplete: "off"
              .form-group
                = f.label :first_name, "First Name"
                = f.text_field :first_name, class: 'form-control', placeholder: "description"
              .form-group
                = f.label :last_name, "Last Name"
                = f.text_field :last_name, class: 'form-control', placeholder: "Last Name"
              .form-group
                = f.label :role
                %br
                = f.select(:role, User.roles.keys.map { |role| [role.titleize, role]}, class:'form-control select2')
              = flash[:notice]
            .box-footer
              = f.submit 'Submit', class: 'btn btn-success'

  - content_for :after_body do
    %script{:src => "/plugins/select2/select2.full.min.js"}
    %script{:src => "/plugins/input-mask/jquery.inputmask.js"}
    %script{:src => "/plugins/input-mask/jquery.inputmask.date.extensions.js"}
    %script{:src => "/plugins/input-mask/jquery.inputmask.extensions.js"}
    %script{:src => "/plugins/moment/moment.js"}
    %script{:src => "/plugins/daterangepicker/daterangepicker.js"}
    %script{:src => "/plugins/colorpicker/bootstrap-colorpicker.min.js"}
    %script{:src => "/plugins/timepicker/bootstrap-timepicker.min.js"}
    %script{:src => "/plugins/iCheck/icheck.min.js"}
    %script{:src => "/assets/pages/forms-custom.js"}

