.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      Add New Category
      %small New Category
    %ol.breadcrumb
      %li
        %a{:href => "#"}
          %i.fa.fa-dashboard
          Home
      %li
        %a{:href => "#"} Add Category
      %li.active New Category
  / Main content
  %section.content
    .row
      / left column
      .col-md-6
        / general form elements
        .box.box-primary{"data-aos" => "fade-up"}
          .box-header.with-border
            %h3.box-title New Comedian
          .box-body
            = form_for @category do |f|
              - if @category.errors.any?
                - @category.errors.full_messages.each do |message|
                  = message
              .form-group
                = f.label :category_name, "Category Name"
                %br
                = f.text_field  :category_name, class: "form-control", :placeholder => "Enter Category Name"
                %br
                = f.submit 'Submit', class: "btn btn-primary"
            = flash[:notice]
